{% extends 'base.html' %}

{% block style %}
<link href="{{ url_for('static', filename='rules.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="btn-container">
        <a href="{{ url_for('root') }}" class="btn-main">Главная</a>
    </div>

    <section class="backend-love">
        <div class="row">
            <div class="topic">
                <h3>Просто текст</h3>
            </div>
            <div class="pain">Здесь будет обычный рассказ о том, как я "люблю" frontend</div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>Спасибо автору</h3>
            </div>
            <div class="pain">Уложить в несколько задач полноценную вертску трудно, автору это не удалось, но основы он
                объяснить осилил. Спасибо ему за это</div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>Отдельная благодарность</h3>
            </div>
            <div class="pain">Если вы как и я столкнулись со сложностями - предлагаю вам изучит сайт <a
                    href="https://metanit.com/web/html5/">metanit</a>. Очень объемный материал, довольно подробный.
                Лучше изучить основы там, прежде чем начнете ковыряться тут</div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>Нейросети</h3>
            </div>
            <div class="pain">Сначала я решил пойти по простому пути - заняться вайб-кодингом. Сделал простенький промтп
                в Gemini, получил ответ от него, вставил в свой проект и получил какой-то результат. Конечно все
                работало и вроде так как просил, но качество у этого было не очень.<br>
                Разбиение на блоки ужасное, масштабируется плохо, выглядит и того хуже. Поэтому прежде чем просить у
                нейронки совет, лучше бы взяться за основы самому. И вот уже потом - результат вас приятно удивит.<br>
                Кстати это шахматное разбиение сделал Gemini, передайте ему спасибо, ну или список проклятий, тут как
                захотите
            </div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>А теперь к сути</h3>
            </div>
            <div class="pain">Теперь разберем: почему конкретно я негодую и почему заниматься подобным больше не
                планирую
            </div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>Непреодолимый барьер</h3>
            </div>
            <div class="pain">Прежде чем начать реализовывать свою задумку как ты и планировал, тебе потребуется поднять
                пласт информации. Иными словами - чтобы найти золото, сначала нужно повозиться в грязи.<br>
                Заветные Grid и Flexbox это последние разделы в metanit, до этого тебе будут рассказывать обо всем,
                кроме нужного, но без этой воды осилить Flexbox нельзя, поэтому терпи и копайся
            </div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>Внезапные детали</h3>
            </div>
            <div class="pain">Ой, ты захотел, чтобы кнопочка подсветилась, когда пользователь навел на неё своим
                курсором? Ну тогда лови псевдокласс, кстати он в разделе с непонятно чем, так что найдешь его быстро, а
                ещё у него синтаксис не такой, как у остальных. Короче не запутаешься, все просто и понятно. Ах да,
                только без свойства transition ты получишь дерганную моментальную анимацию, от которой может начаться
                приступ эпилепсии, вот только на metanit тебе никто про это не расскажет. Найти это ты должен сам, где -
                хороший вопрос. Кстати не забудь про миллион других свойств с неявным поведением, удачи!</div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>Центрирование DIV</h3>
            </div>
            <div class="pain">Ну что, начитался про главную и побочную ось? Ну иди сюда, сейчас я помещу твой контейнер
                в угол. Почему? Ну додумайся, может ты высоту не так указал, ну или там поле id указал в html не то. Я
                его сюда поместил, потому что так чувствую, вот нужен он тут, в углу. Все аккуратно в столбик стоят, а
                он не такой как все</div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>Родительская забота</h3>
            </div>
            <div class="pain">Ты конечно молодец, что указал центрирование. Вот только оно не для меня, понимаешь, оно
                для
                контента внутри меня, а я буду стоять там, где указано выше. Правила, которые ты тут во мне написал -
                они вот большей частью ко мне относятся, а вот центрирование - не ко мне</div>
        </div>

        <div class="row">
            <div class="topic">
                <h3>JS код</h3>
            </div>
            <div class="pain">Ну что, написал синглтон за день? Даже логику обработки в нем прописал? Молодчина!
                Осталось ведь только протестировать, вот только отправлять я тебе ничего не буду. Не в настроении я
                сегодня. Да я и данные с форм могу не собрать, а зачем оно мне надо? Я вот сначала пустоту отправлю на
                эндпоинт, а потом начну свою работу, а ты уж сам думай там</div>
        </div>
    </section>
</div>
{% endblock %}